[submodule "src/pylon-ros-camera"]
	path = src/pylon-ros-camera
	url = https://github.com/basler/pylon-ros-camera
    ignore = dirty
[submodule "src/dragandbot_common"]
	path = src/dragandbot_common
	url = https://github.com/dragandbot/dragandbot_common.git
    ignore = dirty
[submodule "src/rviz_write_button"]
	path = src/rviz_write_button
	url = https://github.com/TheCynosure/rviz_write_button.git
[submodule "src/geonav_transform"]
	path = src/geonav_transform
	url = git@github.com:ibnHatab/geonav_transform.git
