<?xml version="1.0"?>
<launch>


  <node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform_node" clear_params="true" output="screen">
    <!-- Datum as latitude, longitude [decimal deg.], yaw [ENU, degrees] -->
    <rosparam param="datum">[45.7652920999, 21.2296485, 155]</rosparam>
  </node>

</launch>
