<?xml version="1.0"?>
<launch>


  <node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform_node" clear_params="true" output="screen">
	<rosparam param="frequency">100</rosparam>

    <!-- Datum as latitude, longitude [decimal deg.], yaw [ENU, degrees] -->
	<rosparam param="datum">[45.765003199999995, 21.229186499999997, 138.977]</rosparam>
	<!-- <rosparam param="datum">[45.765371, 21.230385, 136]</rosparam> -->
    <!-- <rosparam param="datum">[45.7652920999, 21.2296485, 155]</rosparam> -->
  </node>

</launch>
