<launch>
  <arg name="model" default="$(find xsens_mti_driver)/urdf/MTi_6xx.urdf"/>
  <arg name="rvizconfig" default="$(find photometry)/visualization.rviz" />

  <!-- For setting debug level to debug -->
  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find photometry)/config/custom_rosconsole.conf"/>

  <!-- <include file="$(find photometry)/launch/xsens_mti_node.launch" /> -->
  <!-- <include file="$(find photometry)/launch/pylon_camera_node.launch" /> -->
  <include file="$(find photometry)/launch/geonav_transform.launch" />


  <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="base_imu_tf"
      output="screen"
      args="0 0 0 0 0 0 1 base_link ahrs_link" />

  <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="imu_cam_tf"
      output="screen"
      args="0.05 0 -0.07 0 0 0 ahrs_link cam_link" />


  <!-- Wire static transform from the camera world to camera frame -->
  <!-- rosrun tf static_transform_publisher 1 1 1 -1.57 0 -1.57  odom cam_world 100 -->
  <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="cam_world_tf"
      output="screen"
      args="0 0 0 -1.57 0 -1.57 odom cam_world" />

  <node
      pkg="tf2_ros"
      type="static_transform_publisher"
      name="cam_kos_tf"
      output="screen"
      args="0 0 0 -1.57 0 -1.57  cam_link cam_frame" />


  <node name="position_transform_node" pkg="position_transform" type="position_transform_node" output="screen">
  </node>

  <node name="pose_collector_node" pkg="photometry" type="pose_collector.py" output="screen">
  	<param name="rosbag_enabled" type="bool" value="false"/>
	<param name="storage" type="string" value="/mnt/storage"/>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
